@model Versus.ViewModels.ScoresVM
@using Microsoft.AspNet.Identity

<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

<!-- Bootstrap core CSS -->
<link href="~/assets/dist/css/bootstrap.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="~/Content/carousel.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

@if (Request.IsAuthenticated)
{


    @User.Identity.GetUserId()



    @Html.AntiForgeryToken()
    <div>
        @using (@Html.BeginForm("SaveScore", "Home", FormMethod.Post))
        {
            <div class="container">

                <!-- Three columns of text below the carousel -->
                <div class="col-md-4">
                    <img class="bd-placeholder-img rounded-circle center-block " width="300" height="300" src="~/Img/Flag_of_germany_800_480.png" />
                    <h2>Niemcy</h2>


                    @Html.DropDownListFor(m => m.Score1, new SelectList(Model.Choices, "Value", "Text"), new { @class = "btn btn-secondary" })


                </div>
                <div class="col-xs-4">
                    <div class="textpadding">
                        VS
                    </div>
                    <input type="submit" value="Obstaw to!" class="btn btn-success" />
                </div>
                <div class="col-md-4">
                    <img class="bd-placeholder-img rounded-circle center-block " width="300" height="300" src="~/Img/russia-flag-icon-free-download.jpg" />
                    <h2>Rosja</h2>
                    @Html.DropDownListFor(m => m.Score2, new SelectList(Model.Choices, "Value", "Text"), new { @class = "btn btn-secondary" })

                </div><!-- /.col-lg-4 -->


            </div>
        }



    </div><!-- /.container -->
}
else
{
    @Html.ActionLink("Zaloguj się aby obstawić", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success", id = "loginLink" })
}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="../assets/dist/js/bootstrap.bundle.js"></script>

